.Builder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 95%;
  border: 1px solid white;
  padding: 10px 0;
}

.Builder > div {
  border: 1px solid grey;
  padding: 10px;
  margin: 5px;
}

.CodeMap .codeLine input {
  background: #282c34;
  color: white;
  font-size: calc(10px + 2vmin);
  border: 1px dotted white;
  text-align: center;
}

.CodeMap .codeLine input.const {
  color: yellow;
}
