.OutputBox {
  width: 95%;
  text-align: left;
}

.OutputBox textarea {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  border: 1px dotted green;
  resize: none;
  padding: 0;
}
