.App {
  text-align: center;
  background-color: #282c34;
  height: calc(
    var(--vh, 1vh) * 100
  ); /* iphone 100vh fix - vh from library react-viewport-height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
}

header {
  padding: 10px 0;
}

.Button {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}